Finding Missing values

In [1]:
import pandas as pd

In [2]:
sale_data = pd.read_csv("Online Sales Data.csv")

In [3]:
sale_data

,Transaction ID,Date,Product category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
0,10001,2024-01-01,Electronics,iPhone 14 Pro,NaN,999.99,1999.98,North America,Credit Card
1,10002,2024-01-02,Home Appliances,Dyson V11 Vacuum,1.0,499.99,499.99,Europe,PayPal
2,10003,2024-01-03,Clothing,Levi's 501 Jeans,3.0,69.99,209.97,Asia,Debit Card
3,10004,2024-01-04,NaN,The Da Vinci Code,4.0,15.99,63.96,North America,Credit Card
4,10005,2024-01-05,Beauty Products,Neutrogena Skincare Set,1.0,89.99,89.99,Europe,PayPal
5,10006,2024-01-06,Sports,Wilson Evolution Basketball,5.0,29.99,149.95,Asia,Credit Card
6,10007,2024-01-07,Electronics,MacBook Pro 16-inch,1.0,NaN,2499.99,North America,Credit Card
7,10008,2024-01-08,Home Appliances,Blueair Classic 480i,2.0,599.99,1199.98,Europe,PayPal
8,10009,2024-01-09,Clothing,Nike Air Force 1,6.0,89.99,539.94,Asia,Debit Card
9,10010,2024-01-10,Books,Dune by Frank Herbert,2.0,25.99,51.98,North America,Credit Card
10,10011,2024-01-11,Beauty Products,Chanel No. 5 Perfume,1.0,129.99,129.99,Europe,PayPal
11,10012,2024-01-12,Sports,Babolat Pure Drive Tennis Racket,3.0,199.99,599.97,Asia,Credit Card
12,10013,2024-01-13,Electronics,Samsung Galaxy Tab S8,2.0,749.99,1499.98,North America,Credit Card
13,10014,2024-01-14,Home Appliances,Keurig K-Elite Coffee Maker,1.0,189.99,189.99,Europe,PayPal
14,10015,2024-01-15,Clothing,North Face Down Jacket,2.0,249.99,499.98,Asia,Debit Card
15,10016,2024-01-16,Books,"Salt, Fat, Acid, Heat by Samin Nosrat",3.0,35.99,107.97,North America,Credit Card
16,10017,2024-01-17,Beauty Products,Dyson Supersonic Hair Dryer,1.0,399.99,399.99,Europe,PayPal
17,10017,2024-01-17,Beauty Products,Dyson Supersonic Hair Dryer,1.0,399.99,399.99,Europe,PayPal
18,10018,2024-01-18,Sports,Manduka PRO Yoga Mat,4.0,119.99,479.96,Asia,Credit Card
19,10019,2024-01-19,Electronics,Garmin Forerunner 945,2.0,499.99,999.98,North America,Credit Card
20,10020,2024-01-20,Home Appliances,Ninja Professional Blender,1.0,99.99,99.99,Europe,PayPal
21,10021,2024-01-21,Clothing,Zara Summer Dress,3.0,59.99,NaN,Asia,Debit Card
22,10021,2024-01-21,Clothing,Zara Summer Dress,3.0,59.99,179.97,Asia,Debit Card
23,10022,2024-01-22,Books,Gone Girl by Gillian Flynn,2.0,22.99,45.98,North America,Credit Card
24,10023,2024-01-23,Beauty Products,Olay Regenerist Face Cream,1.0,49.99,49.99,Europe,PayPal
25,10024,2024-01-24,Sports,Adidas FIFA World Cup Football,3.0,29.99,89.97,Asia,Credit Card
26,10025,2024-01-25,Electronics,Bose QuietComfort 35 Headphones,1.0,299.99,299.99,North America,Credit Card
27,10026,2024-01-26,Home Appliances,Panasonic NN-SN966S Microwave,1.0,179.99,179.99,Europe,PayPal
28,10027,2024-01-27,Clothing,Adidas Ultraboost Shoes,2.0,179.99,359.98,Asia,Debit Card
29,10028,2024-01-28,Books,Pride and Prejudice by Jane Austen,3.0,12.99,38.97,North America,Credit Card
30,10029,2024-01-29,Beauty Products,MAC Ruby Woo Lipstick,1.0,29.99,29.99,Europe,PayPal
31,10030,2024-01-30,NaN,Nike Air Zoom Pegasus 37,2.0,129.99,259.98,Asia,NaN
32,10031,2024-01-31,Electronics,Sony WH-1000XM4 Headphones,2.0,349.99,699.98,North America,Credit Card
33,10032,2024-02-01,Home Appliances,Instant Pot Duo,3.0,89.99,269.97,Europe,PayPal
34,10033,2024-02-02,Clothing,Under Armour HeatGear T-Shirt,5.0,29.99,149.95,Asia,Debit Card
35,10034,2024-02-03,Books,1984 by George Orwell,4.0,19.99,79.96,North America,Credit Card
36,10035,2024-02-04,Beauty Products,L'Oreal Revitalift Serum,2.0,39.99,79.98,Europe,PayPal
37,10036,2024-02-05,Sports,Peloton Bike,1.0,1895.00,1895.00,NaN,Credit Card
38,10037,2024-02-06,Electronics,Apple Watch Series 8,3.0,399.99,1199.97,NaN,Credit Card
39,10038,2024-02-07,Home Appliances,Roomba i7+,2.0,799.99,1599.98,Europe,PayPal
40,10039,2024-02-08,Clothing,Columbia Fleece Jacket,4.0,59.99,239.96,Asia,Debit Card
41,10040,2024-02-09,Books,Harry Potter and the Sorcerer's Stone,3.0,24.99,74.97,North America,Credit Card
42,10041,2024-02-10,Beauty Products,Estee Lauder Advanced Night Repair,1.0,105.00,105.00,Europe,PayPal
43,10042,2024-02-11,Sports,Fitbit Charge 5,2.0,129.99,259.98,Asia,Credit Card
44,10043,2024-02-12,Electronics,GoPro HERO10 Black,3.0,399.99,1199.97,North America,Credit Card
45,10044,2024-02-13,Home Appliances,Nespresso VertuoPlus,1.0,199.99,199.99,Europe,NaN
46,10045,2024-02-14,Clothing,Patagonia Better Sweater,2.0,139.99,279.98,Asia,Debit Card
47,10046,2024-02-15,Books,Becoming by Michelle Obama,4.0,32.50,130.00,North America,Credit Card
48,10047,2024-02-16,Beauty Products,Clinique Moisture Surge,1.0,52.00,52.00,Europe,PayPal
49,10048,2024-02-17,Sports,Yeti Rambler Tumbler,6.0,39.99,239.94,Asia,Credit Card
50,10049,2024-02-18,Electronics,Kindle Paperwhite,2.0,129.99,259.98,North America,Credit Card
51,10050,2024-01-22,Books,Gone Girl by Gillian Flynn,2.0,22.99,45.98,Asia,Credit Card
52,10051,2024-02-12,Sports,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
sale_data.isnull()

,Transaction ID,Date,Product category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
0,False,False,False,False,True,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,True,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,True,False,False,False
7,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,True,False,False
22,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False,False,False
31,False,False,True,False,False,False,False,False,True
32,False,False,False,False,False,False,False,False,False
33,False,False,False,False,False,False,False,False,False
34,False,False,False,False,False,False,False,False,False
35,False,False,False,False,False,False,False,False,False
36,False,False,False,False,False,False,False,False,False
37,False,False,False,False,False,False,False,True,False
38,False,False,False,False,False,False,False,True,False
39,False,False,False,False,False,False,False,False,False
40,False,False,False,False,False,False,False,False,False
41,False,False,False,False,False,False,False,False,False
42,False,False,False,False,False,False,False,False,False
43,False,False,False,False,False,False,False,False,False
44,False,False,False,False,False,False,False,False,False
45,False,False,False,False,False,False,False,False,True
46,False,False,False,False,False,False,False,False,False
47,False,False,False,False,False,False,False,False,False
48,False,False,False,False,False,False,False,False,False
49,False,False,False,False,False,False,False,False,False
50,False,False,False,False,False,False,False,False,False
51,False,False,False,False,False,False,False,False,False
52,False,False,False,True,True,True,True,True,True

In [5]:
sale_data.notnull()

,Transaction ID,Date,Product category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
0,True,True,True,True,False,True,True,True,True
1,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True
3,True,True,False,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True
5,True,True,True,True,True,True,True,True,True
6,True,True,True,True,True,False,True,True,True
7,True,True,True,True,True,True,True,True,True
8,True,True,True,True,True,True,True,True,True
9,True,True,True,True,True,True,True,True,True
10,True,True,True,True,True,True,True,True,True
11,True,True,True,True,True,True,True,True,True
12,True,True,True,True,True,True,True,True,True
13,True,True,True,True,True,True,True,True,True
14,True,True,True,True,True,True,True,True,True
15,True,True,True,True,True,True,True,True,True
16,True,True,True,True,True,True,True,True,True
17,True,True,True,True,True,True,True,True,True
18,True,True,True,True,True,True,True,True,True
19,True,True,True,True,True,True,True,True,True
20,True,True,True,True,True,True,True,True,True
21,True,True,True,True,True,True,False,True,True
22,True,True,True,True,True,True,True,True,True
23,True,True,True,True,True,True,True,True,True
24,True,True,True,True,True,True,True,True,True
25,True,True,True,True,True,True,True,True,True
26,True,True,True,True,True,True,True,True,True
27,True,True,True,True,True,True,True,True,True
28,True,True,True,True,True,True,True,True,True
29,True,True,True,True,True,True,True,True,True
30,True,True,True,True,True,True,True,True,True
31,True,True,False,True,True,True,True,True,False
32,True,True,True,True,True,True,True,True,True
33,True,True,True,True,True,True,True,True,True
34,True,True,True,True,True,True,True,True,True
35,True,True,True,True,True,True,True,True,True
36,True,True,True,True,True,True,True,True,True
37,True,True,True,True,True,True,True,False,True
38,True,True,True,True,True,True,True,False,True
39,True,True,True,True,True,True,True,True,True
40,True,True,True,True,True,True,True,True,True
41,True,True,True,True,True,True,True,True,True
42,True,True,True,True,True,True,True,True,True
43,True,True,True,True,True,True,True,True,True
44,True,True,True,True,True,True,True,True,True
45,True,True,True,True,True,True,True,True,False
46,True,True,True,True,True,True,True,True,True
47,True,True,True,True,True,True,True,True,True
48,True,True,True,True,True,True,True,True,True
49,True,True,True,True,True,True,True,True,True
50,True,True,True,True,True,True,True,True,True
51,True,True,True,True,True,True,True,True,True
52,True,True,True,False,False,False,False,False,False

In [6]:
sale_data.isnull().sum()

Transaction ID      0
Date                0
Product category    2
Product Name        1
Units Sold          2
Unit Price          2
Total Revenue       2
Region              3
Payment Method      3
dtype: int64

In [7]:
sale_data['Unit Price'] = sale_data['Unit Price'].fillna(0)

In [8]:
sale_data.isnull().sum()

Transaction ID      0
Date                0
Product category    2
Product Name        1
Units Sold          2
Unit Price          0
Total Revenue       2
Region              3
Payment Method      3
dtype: int64

In [9]:
sale_data['Total Revenue'].mean()

np.float64(457.07588235294116)

In [10]:
sale_data['Total Revenue'] = sale_data['Total Revenue'].fillna(sale_data['Total Revenue'].mean())

In [11]:
sale_data.isnull().sum()

Transaction ID      0
Date                0
Product category    2
Product Name        1
Units Sold          2
Unit Price          0
Total Revenue       0
Region              3
Payment Method      3
dtype: int64

In [12]:
sale_data['Total Revenue']

0     1999.980000
1      499.990000
2      209.970000
3       63.960000
4       89.990000
5      149.950000
6     2499.990000
7     1199.980000
8      539.940000
9       51.980000
10     129.990000
11     599.970000
12    1499.980000
13     189.990000
14     499.980000
15     107.970000
16     399.990000
17     399.990000
18     479.960000
19     999.980000
20      99.990000
21     457.075882
22     179.970000
23      45.980000
24      49.990000
25      89.970000
26     299.990000
27     179.990000
28     359.980000
29      38.970000
30      29.990000
31     259.980000
32     699.980000
33     269.970000
34     149.950000
35      79.960000
36      79.980000
37    1895.000000
38    1199.970000
39    1599.980000
40     239.960000
41      74.970000
42     105.000000
43     259.980000
44    1199.970000
45     199.990000
46     279.980000
47     130.000000
48      52.000000
49     239.940000
50     259.980000
51      45.980000
52     457.075882
Name: Total Revenue, dtype: float64

In [13]:
sale_data['Region'].mode()

0      Asia
1    Europe
Name: Region, dtype: object

In [14]:
sale_data['Region']= sale_data['Region'].fillna(sale_data['Region'].mode()[0])

In [15]:
sale_data.isnull().sum()

Transaction ID      0
Date                0
Product category    2
Product Name        1
Units Sold          2
Unit Price          0
Total Revenue       0
Region              0
Payment Method      3
dtype: int64

In [16]:
sale_data['Region']

0     North America
1            Europe
2              Asia
3     North America
4            Europe
5              Asia
6     North America
7            Europe
8              Asia
9     North America
10           Europe
11             Asia
12    North America
13           Europe
14             Asia
15    North America
16           Europe
17           Europe
18             Asia
19    North America
20           Europe
21             Asia
22             Asia
23    North America
24           Europe
25             Asia
26    North America
27           Europe
28             Asia
29    North America
30           Europe
31             Asia
32    North America
33           Europe
34             Asia
35    North America
36           Europe
37             Asia
38             Asia
39           Europe
40             Asia
41    North America
42           Europe
43             Asia
44    North America
45           Europe
46             Asia
47    North America
48           Europe
49             Asia
50    North America
51             Asia
52             Asia
Name: Region, dtype: object

In [17]:
sale_data['Units Sold'].median()

np.float64(2.0)

In [18]:
sale_data['Units Sold']=sale_data['Units Sold'].fillna(sale_data['Units Sold'].median())

In [19]:
sale_data.isnull().sum()

Transaction ID      0
Date                0
Product category    2
Product Name        1
Units Sold          0
Unit Price          0
Total Revenue       0
Region              0
Payment Method      3
dtype: int64

In [20]:
sale_data['Payment Method'] = sale_data['Payment Method'].bfill()

In [21]:
sale_data.isnull().sum()

Transaction ID      0
Date                0
Product category    2
Product Name        1
Units Sold          0
Unit Price          0
Total Revenue       0
Region              0
Payment Method      0
dtype: int64

In [22]:
sale_data['Payment Method']

0     Credit Card
1          PayPal
2      Debit Card
3     Credit Card
4          PayPal
5     Credit Card
6     Credit Card
7          PayPal
8      Debit Card
9     Credit Card
10         PayPal
11    Credit Card
12    Credit Card
13         PayPal
14     Debit Card
15    Credit Card
16         PayPal
17         PayPal
18    Credit Card
19    Credit Card
20         PayPal
21     Debit Card
22     Debit Card
23    Credit Card
24         PayPal
25    Credit Card
26    Credit Card
27         PayPal
28     Debit Card
29    Credit Card
30         PayPal
31         PayPal
32    Credit Card
33         PayPal
34     Debit Card
35    Credit Card
36         PayPal
37    Credit Card
38    Credit Card
39         PayPal
40     Debit Card
41    Credit Card
42         PayPal
43    Credit Card
44    Credit Card
45    Credit Card
46     Debit Card
47    Credit Card
48         PayPal
49    Credit Card
50    Credit Card
51    Credit Card
52    Credit Card
Name: Payment Method, dtype: object

In [30]:
sale_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    53 non-null     int64
 1   Date              53 non-null     object
 2   Product category  51 non-null     object
 3   Product Name      52 non-null     object
 4   Units Sold        53 non-null     float64
 5   Unit Price        53 non-null     float64
 6   Total Revenue     53 non-null     float64
 7   Region            53 non-null     object
 8   Payment Method    0 non-null      object
dtypes: float64(3), int64(1), object(5)
memory usage: 3.9+ KB

In [ ]:
sale_data['Product category'].value_counts(dropna=False)

In [ ]:
sale_data[sale_data.isnull().any(axis=1)]

In [ ]:
sale_data[sale_data.isnull().all(axis=1)]

In [ ]:
sale_data.isnull().sum()

Handing Missing Values

In [ ]:
Removing Missing Values

In [16]:
sale_data1 = pd.read_csv("Online Sales Data.csv")

In [17]:
sale_data1

,Transaction ID,Date,Product category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
0,10001,2024-01-01,Electronics,iPhone 14 Pro,NaN,999.99,1999.98,North America,Credit Card
1,10002,2024-01-02,Home Appliances,Dyson V11 Vacuum,1.0,499.99,499.99,Europe,PayPal
2,10003,2024-01-03,Clothing,Levi's 501 Jeans,3.0,69.99,209.97,Asia,Debit Card
3,10004,2024-01-04,NaN,The Da Vinci Code,4.0,15.99,63.96,North America,Credit Card
4,10005,2024-01-05,Beauty Products,Neutrogena Skincare Set,1.0,89.99,89.99,Europe,PayPal
5,10006,2024-01-06,Sports,Wilson Evolution Basketball,5.0,29.99,149.95,Asia,Credit Card
6,10007,2024-01-07,Electronics,MacBook Pro 16-inch,1.0,NaN,2499.99,North America,Credit Card
7,10008,2024-01-08,Home Appliances,Blueair Classic 480i,2.0,599.99,1199.98,Europe,PayPal
8,10009,2024-01-09,Clothing,Nike Air Force 1,6.0,89.99,539.94,Asia,Debit Card
9,10010,2024-01-10,Books,Dune by Frank Herbert,2.0,25.99,51.98,North America,Credit Card
10,10011,2024-01-11,Beauty Products,Chanel No. 5 Perfume,1.0,129.99,129.99,Europe,PayPal
11,10012,2024-01-12,Sports,Babolat Pure Drive Tennis Racket,3.0,199.99,599.97,Asia,Credit Card
12,10013,2024-01-13,Electronics,Samsung Galaxy Tab S8,2.0,749.99,1499.98,North America,Credit Card
13,10014,2024-01-14,Home Appliances,Keurig K-Elite Coffee Maker,1.0,189.99,189.99,Europe,PayPal
14,10015,2024-01-15,Clothing,North Face Down Jacket,2.0,249.99,499.98,Asia,Debit Card
15,10016,2024-01-16,Books,"Salt, Fat, Acid, Heat by Samin Nosrat",3.0,35.99,107.97,North America,Credit Card
16,10017,2024-01-17,Beauty Products,Dyson Supersonic Hair Dryer,1.0,399.99,399.99,Europe,PayPal
17,10017,2024-01-17,Beauty Products,Dyson Supersonic Hair Dryer,1.0,399.99,399.99,Europe,PayPal
18,10018,2024-01-18,Sports,Manduka PRO Yoga Mat,4.0,119.99,479.96,Asia,Credit Card
19,10019,2024-01-19,Electronics,Garmin Forerunner 945,2.0,499.99,999.98,North America,Credit Card
20,10020,2024-01-20,Home Appliances,Ninja Professional Blender,1.0,99.99,99.99,Europe,PayPal
21,10021,2024-01-21,Clothing,Zara Summer Dress,3.0,59.99,NaN,Asia,Debit Card
22,10021,2024-01-21,Clothing,Zara Summer Dress,3.0,59.99,179.97,Asia,Debit Card
23,10022,2024-01-22,Books,Gone Girl by Gillian Flynn,2.0,22.99,45.98,North America,Credit Card
24,10023,2024-01-23,Beauty Products,Olay Regenerist Face Cream,1.0,49.99,49.99,Europe,PayPal
25,10024,2024-01-24,Sports,Adidas FIFA World Cup Football,3.0,29.99,89.97,Asia,Credit Card
26,10025,2024-01-25,Electronics,Bose QuietComfort 35 Headphones,1.0,299.99,299.99,North America,Credit Card
27,10026,2024-01-26,Home Appliances,Panasonic NN-SN966S Microwave,1.0,179.99,179.99,Europe,PayPal
28,10027,2024-01-27,Clothing,Adidas Ultraboost Shoes,2.0,179.99,359.98,Asia,Debit Card
29,10028,2024-01-28,Books,Pride and Prejudice by Jane Austen,3.0,12.99,38.97,North America,Credit Card
30,10029,2024-01-29,Beauty Products,MAC Ruby Woo Lipstick,1.0,29.99,29.99,Europe,PayPal
31,10030,2024-01-30,NaN,Nike Air Zoom Pegasus 37,2.0,129.99,259.98,Asia,NaN
32,10031,2024-01-31,Electronics,Sony WH-1000XM4 Headphones,2.0,349.99,699.98,North America,Credit Card
33,10032,2024-02-01,Home Appliances,Instant Pot Duo,3.0,89.99,269.97,Europe,PayPal
34,10033,2024-02-02,Clothing,Under Armour HeatGear T-Shirt,5.0,29.99,149.95,Asia,Debit Card
35,10034,2024-02-03,Books,1984 by George Orwell,4.0,19.99,79.96,North America,Credit Card
36,10035,2024-02-04,Beauty Products,L'Oreal Revitalift Serum,2.0,39.99,79.98,Europe,PayPal
37,10036,2024-02-05,Sports,Peloton Bike,1.0,1895.00,1895.00,NaN,Credit Card
38,10037,2024-02-06,Electronics,Apple Watch Series 8,3.0,399.99,1199.97,NaN,Credit Card
39,10038,2024-02-07,Home Appliances,Roomba i7+,2.0,799.99,1599.98,Europe,PayPal
40,10039,2024-02-08,Clothing,Columbia Fleece Jacket,4.0,59.99,239.96,Asia,Debit Card
41,10040,2024-02-09,Books,Harry Potter and the Sorcerer's Stone,3.0,24.99,74.97,North America,Credit Card
42,10041,2024-02-10,Beauty Products,Estee Lauder Advanced Night Repair,1.0,105.00,105.00,Europe,PayPal
43,10042,2024-02-11,Sports,Fitbit Charge 5,2.0,129.99,259.98,Asia,Credit Card
44,10043,2024-02-12,Electronics,GoPro HERO10 Black,3.0,399.99,1199.97,North America,Credit Card
45,10044,2024-02-13,Home Appliances,Nespresso VertuoPlus,1.0,199.99,199.99,Europe,NaN
46,10045,2024-02-14,Clothing,Patagonia Better Sweater,2.0,139.99,279.98,Asia,Debit Card
47,10046,2024-02-15,Books,Becoming by Michelle Obama,4.0,32.50,130.00,North America,Credit Card
48,10047,2024-02-16,Beauty Products,Clinique Moisture Surge,1.0,52.00,52.00,Europe,PayPal
49,10048,2024-02-17,Sports,Yeti Rambler Tumbler,6.0,39.99,239.94,Asia,Credit Card
50,10049,2024-02-18,Electronics,Kindle Paperwhite,2.0,129.99,259.98,North America,Credit Card
51,10050,2024-01-22,Books,Gone Girl by Gillian Flynn,2.0,22.99,45.98,Asia,Credit Card
52,10051,2024-02-12,Sports,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
sale_data1.isnull().sum()

Transaction ID      0
Date                0
Product category    2
Product Name        1
Units Sold          2
Unit Price          2
Total Revenue       2
Region              3
Payment Method      3
dtype: int64

In [ ]:
# sale_data1.dropna()
# sale_data1.isnull().sum()

In [21]:
cleaned_rows = sale_data.dropna()
print(cleaned_rows)

    Transaction ID        Date Product category  \
1            10002  2024-01-02  Home Appliances
2            10003  2024-01-03         Clothing
4            10005  2024-01-05  Beauty Products
5            10006  2024-01-06           Sports
7            10008  2024-01-08  Home Appliances
8            10009  2024-01-09         Clothing
9            10010  2024-01-10            Books
10           10011  2024-01-11  Beauty Products
11           10012  2024-01-12           Sports
12           10013  2024-01-13      Electronics
13           10014  2024-01-14  Home Appliances
14           10015  2024-01-15         Clothing
15           10016  2024-01-16            Books
16           10017  2024-01-17  Beauty Products
17           10017  2024-01-17  Beauty Products
18           10018  2024-01-18           Sports
19           10019  2024-01-19      Electronics
20           10020  2024-01-20  Home Appliances
22           10021  2024-01-21         Clothing
23           10022  2024-01-22            Books
24           10023  2024-01-23  Beauty Products
25           10024  2024-01-24           Sports
26           10025  2024-01-25      Electronics
27           10026  2024-01-26  Home Appliances
28           10027  2024-01-27         Clothing
29           10028  2024-01-28            Books
30           10029  2024-01-29  Beauty Products
32           10031  2024-01-31      Electronics
33           10032  2024-02-01  Home Appliances
34           10033  2024-02-02         Clothing
35           10034  2024-02-03            Books
36           10035  2024-02-04  Beauty Products
39           10038  2024-02-07  Home Appliances
40           10039  2024-02-08         Clothing
41           10040  2024-02-09            Books
42           10041  2024-02-10  Beauty Products
43           10042  2024-02-11           Sports
44           10043  2024-02-12      Electronics
46           10045  2024-02-14         Clothing
47           10046  2024-02-15            Books
48           10047  2024-02-16  Beauty Products
49           10048  2024-02-17           Sports
50           10049  2024-02-18      Electronics
51           10050  2024-01-22            Books

                             Product Name  Units Sold  Unit Price  \
1                        Dyson V11 Vacuum         1.0      499.99
2                        Levi's 501 Jeans         3.0       69.99
4                 Neutrogena Skincare Set         1.0       89.99
5             Wilson Evolution Basketball         5.0       29.99
7                    Blueair Classic 480i         2.0      599.99
8                        Nike Air Force 1         6.0       89.99
9                   Dune by Frank Herbert         2.0       25.99
10                   Chanel No. 5 Perfume         1.0      129.99
11       Babolat Pure Drive Tennis Racket         3.0      199.99
12                  Samsung Galaxy Tab S8         2.0      749.99
13            Keurig K-Elite Coffee Maker         1.0      189.99
14                 North Face Down Jacket         2.0      249.99
15  Salt, Fat, Acid, Heat by Samin Nosrat         3.0       35.99
16            Dyson Supersonic Hair Dryer         1.0      399.99
17            Dyson Supersonic Hair Dryer         1.0      399.99
18                   Manduka PRO Yoga Mat         4.0      119.99
19                  Garmin Forerunner 945         2.0      499.99
20             Ninja Professional Blender         1.0       99.99
22                      Zara Summer Dress         3.0       59.99
23             Gone Girl by Gillian Flynn         2.0       22.99
24             Olay Regenerist Face Cream         1.0       49.99
25         Adidas FIFA World Cup Football         3.0       29.99
26        Bose QuietComfort 35 Headphones         1.0      299.99
27          Panasonic NN-SN966S Microwave         1.0      179.99
28                Adidas Ultraboost Shoes         2.0      179.99
29     Pride and Prejudice by Jane Austen         3.0       12.99
30                  MAC Ruby Woo Lipstick         1.0       29.99
32             Sony WH-1000XM4 Headphones         2.0      349.99
33                        Instant Pot Duo         3.0       89.99
34          Under Armour HeatGear T-Shirt         5.0       29.99
35                  1984 by George Orwell         4.0       19.99
36               L'Oreal Revitalift Serum         2.0       39.99
39                             Roomba i7+         2.0      799.99
40                 Columbia Fleece Jacket         4.0       59.99
41  Harry Potter and the Sorcerer's Stone         3.0       24.99
42     Estee Lauder Advanced Night Repair         1.0      105.00
43                        Fitbit Charge 5         2.0      129.99
44                     GoPro HERO10 Black         3.0      399.99
46               Patagonia Better Sweater         2.0      139.99
47             Becoming by Michelle Obama         4.0       32.50
48                Clinique Moisture Surge         1.0       52.00
49                   Yeti Rambler Tumbler         6.0       39.99
50                      Kindle Paperwhite         2.0      129.99
51             Gone Girl by Gillian Flynn         2.0       22.99

    Total Revenue         Region Payment Method
1          499.99         Europe         PayPal
2          209.97           Asia     Debit Card
4           89.99         Europe         PayPal
5          149.95           Asia    Credit Card
7         1199.98         Europe         PayPal
8          539.94           Asia     Debit Card
9           51.98  North America    Credit Card
10         129.99         Europe         PayPal
11         599.97           Asia    Credit Card
12        1499.98  North America    Credit Card
13         189.99         Europe         PayPal
14         499.98           Asia     Debit Card
15         107.97  North America    Credit Card
16         399.99         Europe         PayPal
17         399.99         Europe         PayPal
18         479.96           Asia    Credit Card
19         999.98  North America    Credit Card
20          99.99         Europe         PayPal
22         179.97           Asia     Debit Card
23          45.98  North America    Credit Card
24          49.99         Europe         PayPal
25          89.97           Asia    Credit Card
26         299.99  North America    Credit Card
27         179.99         Europe         PayPal
28         359.98           Asia     Debit Card
29          38.97  North America    Credit Card
30          29.99         Europe         PayPal
32         699.98  North America    Credit Card
33         269.97         Europe         PayPal
34         149.95           Asia     Debit Card
35          79.96  North America    Credit Card
36          79.98         Europe         PayPal
39        1599.98         Europe         PayPal
40         239.96           Asia     Debit Card
41          74.97  North America    Credit Card
42         105.00         Europe         PayPal
43         259.98           Asia    Credit Card
44        1199.97  North America    Credit Card
46         279.98           Asia     Debit Card
47         130.00  North America    Credit Card
48          52.00         Europe         PayPal
49         239.94           Asia    Credit Card
50         259.98  North America    Credit Card
51          45.98           Asia    Credit Card

In [22]:
cleaned_rows.isnull().sum()

Transaction ID      0
Date                0
Product category    0
Product Name        0
Units Sold          0
Unit Price          0
Total Revenue       0
Region              0
Payment Method      0
dtype: int64

In [23]:
sale_data1.isnull().sum()

Transaction ID      0
Date                0
Product category    2
Product Name        1
Units Sold          2
Unit Price          2
Total Revenue       2
Region              3
Payment Method      3
dtype: int64

In [24]:
cleaned_columns = sale_data1.dropna(axis=1)

In [25]:
cleaned_columns.isnull().sum()

Transaction ID    0
Date              0
dtype: int64

In [26]:
sale_data1.isnull().sum()

Transaction ID      0
Date                0
Product category    2
Product Name        1
Units Sold          2
Unit Price          2
Total Revenue       2
Region              3
Payment Method      3
dtype: int64

In [ ]:
sale_data.dropna(how='all', inplace=True)

In [30]:
sale_data1.dropna(subset=['Units Sold'], inplace=True)

In [31]:
sale_data1.isnull().sum()

Transaction ID      0
Date                0
Product category    2
Product Name        0
Units Sold          0
Unit Price          1
Total Revenue       1
Region              2
Payment Method      2
dtype: int64

In [32]:
sale_data.isnull().sum()

Transaction ID      0
Date                0
Product category    2
Product Name        0
Units Sold          0
Unit Price          1
Total Revenue       1
Region              2
Payment Method      2
dtype: int64

In [ ]:
#1)sale_data1.dropna(subset=['Units Sold'], inplace=True)

 Filling  Missing Values

In [33]:
filled_value= sale_data.fillna(0)  # Replace all NaN values with 0
print(filled_value)

    Transaction ID        Date Product category  \
1            10002  2024-01-02  Home Appliances
2            10003  2024-01-03         Clothing
3            10004  2024-01-04                0
4            10005  2024-01-05  Beauty Products
5            10006  2024-01-06           Sports
6            10007  2024-01-07      Electronics
7            10008  2024-01-08  Home Appliances
8            10009  2024-01-09         Clothing
9            10010  2024-01-10            Books
10           10011  2024-01-11  Beauty Products
11           10012  2024-01-12           Sports
12           10013  2024-01-13      Electronics
13           10014  2024-01-14  Home Appliances
14           10015  2024-01-15         Clothing
15           10016  2024-01-16            Books
16           10017  2024-01-17  Beauty Products
17           10017  2024-01-17  Beauty Products
18           10018  2024-01-18           Sports
19           10019  2024-01-19      Electronics
20           10020  2024-01-20  Home Appliances
21           10021  2024-01-21         Clothing
22           10021  2024-01-21         Clothing
23           10022  2024-01-22            Books
24           10023  2024-01-23  Beauty Products
25           10024  2024-01-24           Sports
26           10025  2024-01-25      Electronics
27           10026  2024-01-26  Home Appliances
28           10027  2024-01-27         Clothing
29           10028  2024-01-28            Books
30           10029  2024-01-29  Beauty Products
31           10030  2024-01-30                0
32           10031  2024-01-31      Electronics
33           10032  2024-02-01  Home Appliances
34           10033  2024-02-02         Clothing
35           10034  2024-02-03            Books
36           10035  2024-02-04  Beauty Products
37           10036  2024-02-05           Sports
38           10037  2024-02-06      Electronics
39           10038  2024-02-07  Home Appliances
40           10039  2024-02-08         Clothing
41           10040  2024-02-09            Books
42           10041  2024-02-10  Beauty Products
43           10042  2024-02-11           Sports
44           10043  2024-02-12      Electronics
45           10044  2024-02-13  Home Appliances
46           10045  2024-02-14         Clothing
47           10046  2024-02-15            Books
48           10047  2024-02-16  Beauty Products
49           10048  2024-02-17           Sports
50           10049  2024-02-18      Electronics
51           10050  2024-01-22            Books

                             Product Name  Units Sold  Unit Price  \
1                        Dyson V11 Vacuum         1.0      499.99
2                        Levi's 501 Jeans         3.0       69.99
3                       The Da Vinci Code         4.0       15.99
4                 Neutrogena Skincare Set         1.0       89.99
5             Wilson Evolution Basketball         5.0       29.99
6                     MacBook Pro 16-inch         1.0        0.00
7                    Blueair Classic 480i         2.0      599.99
8                        Nike Air Force 1         6.0       89.99
9                   Dune by Frank Herbert         2.0       25.99
10                   Chanel No. 5 Perfume         1.0      129.99
11       Babolat Pure Drive Tennis Racket         3.0      199.99
12                  Samsung Galaxy Tab S8         2.0      749.99
13            Keurig K-Elite Coffee Maker         1.0      189.99
14                 North Face Down Jacket         2.0      249.99
15  Salt, Fat, Acid, Heat by Samin Nosrat         3.0       35.99
16            Dyson Supersonic Hair Dryer         1.0      399.99
17            Dyson Supersonic Hair Dryer         1.0      399.99
18                   Manduka PRO Yoga Mat         4.0      119.99
19                  Garmin Forerunner 945         2.0      499.99
20             Ninja Professional Blender         1.0       99.99
21                      Zara Summer Dress         3.0       59.99
22                      Zara Summer Dress         3.0       59.99
23             Gone Girl by Gillian Flynn         2.0       22.99
24             Olay Regenerist Face Cream         1.0       49.99
25         Adidas FIFA World Cup Football         3.0       29.99
26        Bose QuietComfort 35 Headphones         1.0      299.99
27          Panasonic NN-SN966S Microwave         1.0      179.99
28                Adidas Ultraboost Shoes         2.0      179.99
29     Pride and Prejudice by Jane Austen         3.0       12.99
30                  MAC Ruby Woo Lipstick         1.0       29.99
31               Nike Air Zoom Pegasus 37         2.0      129.99
32             Sony WH-1000XM4 Headphones         2.0      349.99
33                        Instant Pot Duo         3.0       89.99
34          Under Armour HeatGear T-Shirt         5.0       29.99
35                  1984 by George Orwell         4.0       19.99
36               L'Oreal Revitalift Serum         2.0       39.99
37                           Peloton Bike         1.0     1895.00
38                   Apple Watch Series 8         3.0      399.99
39                             Roomba i7+         2.0      799.99
40                 Columbia Fleece Jacket         4.0       59.99
41  Harry Potter and the Sorcerer's Stone         3.0       24.99
42     Estee Lauder Advanced Night Repair         1.0      105.00
43                        Fitbit Charge 5         2.0      129.99
44                     GoPro HERO10 Black         3.0      399.99
45                   Nespresso VertuoPlus         1.0      199.99
46               Patagonia Better Sweater         2.0      139.99
47             Becoming by Michelle Obama         4.0       32.50
48                Clinique Moisture Surge         1.0       52.00
49                   Yeti Rambler Tumbler         6.0       39.99
50                      Kindle Paperwhite         2.0      129.99
51             Gone Girl by Gillian Flynn         2.0       22.99

    Total Revenue         Region Payment Method
1          499.99         Europe         PayPal
2          209.97           Asia     Debit Card
3           63.96  North America    Credit Card
4           89.99         Europe         PayPal
5          149.95           Asia    Credit Card
6         2499.99  North America    Credit Card
7         1199.98         Europe         PayPal
8          539.94           Asia     Debit Card
9           51.98  North America    Credit Card
10         129.99         Europe         PayPal
11         599.97           Asia    Credit Card
12        1499.98  North America    Credit Card
13         189.99         Europe         PayPal
14         499.98           Asia     Debit Card
15         107.97  North America    Credit Card
16         399.99         Europe         PayPal
17         399.99         Europe         PayPal
18         479.96           Asia    Credit Card
19         999.98  North America    Credit Card
20          99.99         Europe         PayPal
21           0.00           Asia     Debit Card
22         179.97           Asia     Debit Card
23          45.98  North America    Credit Card
24          49.99         Europe         PayPal
25          89.97           Asia    Credit Card
26         299.99  North America    Credit Card
27         179.99         Europe         PayPal
28         359.98           Asia     Debit Card
29          38.97  North America    Credit Card
30          29.99         Europe         PayPal
31         259.98           Asia              0
32         699.98  North America    Credit Card
33         269.97         Europe         PayPal
34         149.95           Asia     Debit Card
35          79.96  North America    Credit Card
36          79.98         Europe         PayPal
37        1895.00              0    Credit Card
38        1199.97              0    Credit Card
39        1599.98         Europe         PayPal
40         239.96           Asia     Debit Card
41          74.97  North America    Credit Card
42         105.00         Europe         PayPal
43         259.98           Asia    Credit Card
44        1199.97  North America    Credit Card
45         199.99         Europe              0
46         279.98           Asia     Debit Card
47         130.00  North America    Credit Card
48          52.00         Europe         PayPal
49         239.94           Asia    Credit Card
50         259.98  North America    Credit Card
51          45.98           Asia    Credit Card

In [40]:
filled_value.isnull().sum()

Transaction ID      0
Date                0
Product category    0
Product Name        0
Units Sold          0
Unit Price          0
Total Revenue       0
Region              0
Payment Method      0
dtype: int64

Fill with Mean, Median, or Mode

In [53]:
sale_data1.isnull().sum()

Transaction ID      0
Date                0
Product category    2
Product Name        0
Units Sold          0
Unit Price          1
Total Revenue       1
Region              2
Payment Method      2
dtype: int64

In [ ]:
# sale_data1['Region'].fillna(sale_data1['Region'].mode(), inplace=True)

In [65]:
sale_data1['Region'] = sale_data1['Region'].fillna(sale_data1['Region'].mode()[0])

In [66]:
sale_data1.isnull().sum()

Transaction ID      0
Date                0
Product category    0
Product Name        0
Units Sold          0
Unit Price          0
Total Revenue       1
Region              0
Payment Method      2
dtype: int64

In [59]:
sale_data1['Unit Price'] = sale_data1['Unit Price'].fillna(sale_data1['Unit Price'].median())

In [63]:
sale_data1.isnull().sum()

Transaction ID      0
Date                0
Product category    0
Product Name        0
Units Sold          0
Unit Price          0
Total Revenue       1
Region              0
Payment Method      2
dtype: int64

In [75]:
sale_data1['Product category'] = sale_data1['Product category'].fillna('Unknown')

In [76]:
sale_data1.isnull().sum()

Transaction ID      0
Date                0
Product category    0
Product Name        0
Units Sold          0
Unit Price          1
Total Revenue       1
Region              2
Payment Method      2
dtype: int64

In [77]:
sale_data1

,Transaction ID,Date,Product category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
1,10002,2024-01-02,Home Appliances,Dyson V11 Vacuum,1.0,499.99,499.99,Europe,PayPal
2,10003,2024-01-03,Clothing,Levi's 501 Jeans,3.0,69.99,209.97,Asia,Debit Card
3,10004,2024-01-04,Unknown,The Da Vinci Code,4.0,15.99,63.96,North America,Credit Card
4,10005,2024-01-05,Beauty Products,Neutrogena Skincare Set,1.0,89.99,89.99,Europe,PayPal
5,10006,2024-01-06,Sports,Wilson Evolution Basketball,5.0,29.99,149.95,Asia,Credit Card
6,10007,2024-01-07,Electronics,MacBook Pro 16-inch,1.0,NaN,2499.99,North America,Credit Card
7,10008,2024-01-08,Home Appliances,Blueair Classic 480i,2.0,599.99,1199.98,Europe,PayPal
8,10009,2024-01-09,Clothing,Nike Air Force 1,6.0,89.99,539.94,Asia,Debit Card
9,10010,2024-01-10,Books,Dune by Frank Herbert,2.0,25.99,51.98,North America,Credit Card
10,10011,2024-01-11,Beauty Products,Chanel No. 5 Perfume,1.0,129.99,129.99,Europe,PayPal
11,10012,2024-01-12,Sports,Babolat Pure Drive Tennis Racket,3.0,199.99,599.97,Asia,Credit Card
12,10013,2024-01-13,Electronics,Samsung Galaxy Tab S8,2.0,749.99,1499.98,North America,Credit Card
13,10014,2024-01-14,Home Appliances,Keurig K-Elite Coffee Maker,1.0,189.99,189.99,Europe,PayPal
14,10015,2024-01-15,Clothing,North Face Down Jacket,2.0,249.99,499.98,Asia,Debit Card
15,10016,2024-01-16,Books,"Salt, Fat, Acid, Heat by Samin Nosrat",3.0,35.99,107.97,North America,Credit Card
16,10017,2024-01-17,Beauty Products,Dyson Supersonic Hair Dryer,1.0,399.99,399.99,Europe,PayPal
17,10017,2024-01-17,Beauty Products,Dyson Supersonic Hair Dryer,1.0,399.99,399.99,Europe,PayPal
18,10018,2024-01-18,Sports,Manduka PRO Yoga Mat,4.0,119.99,479.96,Asia,Credit Card
19,10019,2024-01-19,Electronics,Garmin Forerunner 945,2.0,499.99,999.98,North America,Credit Card
20,10020,2024-01-20,Home Appliances,Ninja Professional Blender,1.0,99.99,99.99,Europe,PayPal
21,10021,2024-01-21,Clothing,Zara Summer Dress,3.0,59.99,NaN,Asia,Debit Card
22,10021,2024-01-21,Clothing,Zara Summer Dress,3.0,59.99,179.97,Asia,Debit Card
23,10022,2024-01-22,Books,Gone Girl by Gillian Flynn,2.0,22.99,45.98,North America,Credit Card
24,10023,2024-01-23,Beauty Products,Olay Regenerist Face Cream,1.0,49.99,49.99,Europe,PayPal
25,10024,2024-01-24,Sports,Adidas FIFA World Cup Football,3.0,29.99,89.97,Asia,Credit Card
26,10025,2024-01-25,Electronics,Bose QuietComfort 35 Headphones,1.0,299.99,299.99,North America,Credit Card
27,10026,2024-01-26,Home Appliances,Panasonic NN-SN966S Microwave,1.0,179.99,179.99,Europe,PayPal
28,10027,2024-01-27,Clothing,Adidas Ultraboost Shoes,2.0,179.99,359.98,Asia,Debit Card
29,10028,2024-01-28,Books,Pride and Prejudice by Jane Austen,3.0,12.99,38.97,North America,Credit Card
30,10029,2024-01-29,Beauty Products,MAC Ruby Woo Lipstick,1.0,29.99,29.99,Europe,PayPal
31,10030,2024-01-30,Unknown,Nike Air Zoom Pegasus 37,2.0,129.99,259.98,Asia,NaN
32,10031,2024-01-31,Electronics,Sony WH-1000XM4 Headphones,2.0,349.99,699.98,North America,Credit Card
33,10032,2024-02-01,Home Appliances,Instant Pot Duo,3.0,89.99,269.97,Europe,PayPal
34,10033,2024-02-02,Clothing,Under Armour HeatGear T-Shirt,5.0,29.99,149.95,Asia,Debit Card
35,10034,2024-02-03,Books,1984 by George Orwell,4.0,19.99,79.96,North America,Credit Card
36,10035,2024-02-04,Beauty Products,L'Oreal Revitalift Serum,2.0,39.99,79.98,Europe,PayPal
37,10036,2024-02-05,Sports,Peloton Bike,1.0,1895.00,1895.00,NaN,Credit Card
38,10037,2024-02-06,Electronics,Apple Watch Series 8,3.0,399.99,1199.97,NaN,Credit Card
39,10038,2024-02-07,Home Appliances,Roomba i7+,2.0,799.99,1599.98,Europe,PayPal
40,10039,2024-02-08,Clothing,Columbia Fleece Jacket,4.0,59.99,239.96,Asia,Debit Card
41,10040,2024-02-09,Books,Harry Potter and the Sorcerer's Stone,3.0,24.99,74.97,North America,Credit Card
42,10041,2024-02-10,Beauty Products,Estee Lauder Advanced Night Repair,1.0,105.00,105.00,Europe,PayPal
43,10042,2024-02-11,Sports,Fitbit Charge 5,2.0,129.99,259.98,Asia,Credit Card
44,10043,2024-02-12,Electronics,GoPro HERO10 Black,3.0,399.99,1199.97,North America,Credit Card
45,10044,2024-02-13,Home Appliances,Nespresso VertuoPlus,1.0,199.99,199.99,Europe,NaN
46,10045,2024-02-14,Clothing,Patagonia Better Sweater,2.0,139.99,279.98,Asia,Debit Card
47,10046,2024-02-15,Books,Becoming by Michelle Obama,4.0,32.50,130.00,North America,Credit Card
48,10047,2024-02-16,Beauty Products,Clinique Moisture Surge,1.0,52.00,52.00,Europe,PayPal
49,10048,2024-02-17,Sports,Yeti Rambler Tumbler,6.0,39.99,239.94,Asia,Credit Card
50,10049,2024-02-18,Electronics,Kindle Paperwhite,2.0,129.99,259.98,North America,Credit Card
51,10050,2024-01-22,Books,Gone Girl by Gillian Flynn,2.0,22.99,45.98,Asia,Credit Card

In [68]:
sale_data1['Total Revenue'] = sale_data1['Total Revenue'].fillna(sale_data1['Total Revenue'].mean())

In [ ]:
sale_data1.isnull().sum()

In [72]:
sale_data1['Payment Method'] = sale_data1['Payment Method'].fillna(sale_data1['Payment Method'].mode()[0])

In [73]:
sale_data1.isnull().sum()

Transaction ID      0
Date                0
Product category    0
Product Name        0
Units Sold          0
Unit Price          0
Total Revenue       0
Region              0
Payment Method      0
dtype: int64

In [74]:
sale_data1

,Transaction ID,Date,Product category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
1,10002,2024-01-02,Unknown,Dyson V11 Vacuum,1.0,499.990,499.9900,Europe,PayPal
2,10003,2024-01-03,Unknown,Levi's 501 Jeans,3.0,69.990,209.9700,Asia,Debit Card
3,10004,2024-01-04,Unknown,The Da Vinci Code,4.0,15.990,63.9600,North America,Credit Card
4,10005,2024-01-05,Unknown,Neutrogena Skincare Set,1.0,89.990,89.9900,Europe,PayPal
5,10006,2024-01-06,Unknown,Wilson Evolution Basketball,5.0,29.990,149.9500,Asia,Credit Card
6,10007,2024-01-07,Unknown,MacBook Pro 16-inch,1.0,102.495,2499.9900,North America,Credit Card
7,10008,2024-01-08,Unknown,Blueair Classic 480i,2.0,599.990,1199.9800,Europe,PayPal
8,10009,2024-01-09,Unknown,Nike Air Force 1,6.0,89.990,539.9400,Asia,Debit Card
9,10010,2024-01-10,Unknown,Dune by Frank Herbert,2.0,25.990,51.9800,North America,Credit Card
10,10011,2024-01-11,Unknown,Chanel No. 5 Perfume,1.0,129.990,129.9900,Europe,PayPal
11,10012,2024-01-12,Unknown,Babolat Pure Drive Tennis Racket,3.0,199.990,599.9700,Asia,Credit Card
12,10013,2024-01-13,Unknown,Samsung Galaxy Tab S8,2.0,749.990,1499.9800,North America,Credit Card
13,10014,2024-01-14,Unknown,Keurig K-Elite Coffee Maker,1.0,189.990,189.9900,Europe,PayPal
14,10015,2024-01-15,Unknown,North Face Down Jacket,2.0,249.990,499.9800,Asia,Debit Card
15,10016,2024-01-16,Unknown,"Salt, Fat, Acid, Heat by Samin Nosrat",3.0,35.990,107.9700,North America,Credit Card
16,10017,2024-01-17,Unknown,Dyson Supersonic Hair Dryer,1.0,399.990,399.9900,Europe,PayPal
17,10017,2024-01-17,Unknown,Dyson Supersonic Hair Dryer,1.0,399.990,399.9900,Europe,PayPal
18,10018,2024-01-18,Unknown,Manduka PRO Yoga Mat,4.0,119.990,479.9600,Asia,Credit Card
19,10019,2024-01-19,Unknown,Garmin Forerunner 945,2.0,499.990,999.9800,North America,Credit Card
20,10020,2024-01-20,Unknown,Ninja Professional Blender,1.0,99.990,99.9900,Europe,PayPal
21,10021,2024-01-21,Unknown,Zara Summer Dress,3.0,59.990,426.2178,Asia,Debit Card
22,10021,2024-01-21,Unknown,Zara Summer Dress,3.0,59.990,179.9700,Asia,Debit Card
23,10022,2024-01-22,Unknown,Gone Girl by Gillian Flynn,2.0,22.990,45.9800,North America,Credit Card
24,10023,2024-01-23,Unknown,Olay Regenerist Face Cream,1.0,49.990,49.9900,Europe,PayPal
25,10024,2024-01-24,Unknown,Adidas FIFA World Cup Football,3.0,29.990,89.9700,Asia,Credit Card
26,10025,2024-01-25,Unknown,Bose QuietComfort 35 Headphones,1.0,299.990,299.9900,North America,Credit Card
27,10026,2024-01-26,Unknown,Panasonic NN-SN966S Microwave,1.0,179.990,179.9900,Europe,PayPal
28,10027,2024-01-27,Unknown,Adidas Ultraboost Shoes,2.0,179.990,359.9800,Asia,Debit Card
29,10028,2024-01-28,Unknown,Pride and Prejudice by Jane Austen,3.0,12.990,38.9700,North America,Credit Card
30,10029,2024-01-29,Unknown,MAC Ruby Woo Lipstick,1.0,29.990,29.9900,Europe,PayPal
31,10030,2024-01-30,Unknown,Nike Air Zoom Pegasus 37,2.0,129.990,259.9800,Asia,Credit Card
32,10031,2024-01-31,Unknown,Sony WH-1000XM4 Headphones,2.0,349.990,699.9800,North America,Credit Card
33,10032,2024-02-01,Unknown,Instant Pot Duo,3.0,89.990,269.9700,Europe,PayPal
34,10033,2024-02-02,Unknown,Under Armour HeatGear T-Shirt,5.0,29.990,149.9500,Asia,Debit Card
35,10034,2024-02-03,Unknown,1984 by George Orwell,4.0,19.990,79.9600,North America,Credit Card
36,10035,2024-02-04,Unknown,L'Oreal Revitalift Serum,2.0,39.990,79.9800,Europe,PayPal
37,10036,2024-02-05,Unknown,Peloton Bike,1.0,1895.000,1895.0000,Asia,Credit Card
38,10037,2024-02-06,Unknown,Apple Watch Series 8,3.0,399.990,1199.9700,Asia,Credit Card
39,10038,2024-02-07,Unknown,Roomba i7+,2.0,799.990,1599.9800,Europe,PayPal
40,10039,2024-02-08,Unknown,Columbia Fleece Jacket,4.0,59.990,239.9600,Asia,Debit Card
41,10040,2024-02-09,Unknown,Harry Potter and the Sorcerer's Stone,3.0,24.990,74.9700,North America,Credit Card
42,10041,2024-02-10,Unknown,Estee Lauder Advanced Night Repair,1.0,105.000,105.0000,Europe,PayPal
43,10042,2024-02-11,Unknown,Fitbit Charge 5,2.0,129.990,259.9800,Asia,Credit Card
44,10043,2024-02-12,Unknown,GoPro HERO10 Black,3.0,399.990,1199.9700,North America,Credit Card
45,10044,2024-02-13,Unknown,Nespresso VertuoPlus,1.0,199.990,199.9900,Europe,Credit Card
46,10045,2024-02-14,Unknown,Patagonia Better Sweater,2.0,139.990,279.9800,Asia,Debit Card
47,10046,2024-02-15,Unknown,Becoming by Michelle Obama,4.0,32.500,130.0000,North America,Credit Card
48,10047,2024-02-16,Unknown,Clinique Moisture Surge,1.0,52.000,52.0000,Europe,PayPal
49,10048,2024-02-17,Unknown,Yeti Rambler Tumbler,6.0,39.990,239.9400,Asia,Credit Card
50,10049,2024-02-18,Unknown,Kindle Paperwhite,2.0,129.990,259.9800,North America,Credit Card
51,10050,2024-01-22,Unknown,Gone Girl by Gillian Flynn,2.0,22.990,45.9800,Asia,Credit Card